<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录界面</title>
		<link rel="stylesheet" href="./dist/css/index.css" />
		<link rel="stylesheet" href="./dist/css/login.css" />
	</head>
	<body>
		<div id="login"></div>
		
		<script type="text/javascript" src="./dist/js/login.js"></script>
	</body>
</html>
